@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');

:root {
    --text-primary: chocolate;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'roboto';
    background-color: #F7F8F9;
    color: #333333;
    line-height: 1.6;
}

.ribbon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    background-color: #ED2939;
    width: 100%;
    padding: 5px 10px 5px 10px;
}

.ribbon a {
    color: #333333;
    font-weight: bold;
    text-decoration: none;
}

.navbar-under-ribbon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    padding: 80px;
    font-size: 30px;
}

.navbar-under-ribbon nav ul li {
    list-style: none;
    text-decoration: none;
}

.navbar-under-ribbon nav ul li a {
    font-size: 20px;
}
.navbar-under-ribbon h1 span {
    font-family: 'Bebas Neue';
    color: #FF00DE;

}